/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[0].use[1]!./node_modules/.pnpm/@umijs+bundler-webpack@4.0.72_typescript@4.9.5/node_modules/@umijs/bundler-webpack/compiled/postcss-loader/index.js??ruleSet[1].rules[4].oneOf[0].use[2]!./src/pages/photo/index.css?modules ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.box___zRzLh {
  padding: 50px 0;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  background: white;
}
body {
  background: white;
}

