.box {
  padding: 50px 0;
  box-sizing: border-box;
}
.rowBox {
  width: 80%;
  margin: auto;
}
.col {
  display: flex;
  justify-content: center;
}
.colImg {
  width: 100%;
}
.lightBoxExif {
  font-size: 14px;
  color: grey;
}
.lightBoxExif div {
  clear: both;
}
.lightBoxExif span {
  display: block;
  margin-bottom: 8px;
  float: left;
}
.loading {
  display: 'flex';
  justifycontent: 'center';
  padding: 50;
}
.dispCity {
  position: 'absolute';
  left: 0;
  top: 0;
  width: '100%';
  height: '100%';
  background: 'rgba(0, 0, 0, 0.3)';
  display: 'flex';
  justifycontent: 'center';
  alignitems: 'center';
  fontsize: 40;
  color: 'white';
}
