.box {
  background-color: #173543;
  margin: 0px;
}
.title {
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  color: #cbcbcb;
  padding-top: 100px;
  padding-bottom: 200px;
}
body {
  background-color: #0e232d;
}
.icons {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  color: #cbcbcb;
  text-align: center;
}
.icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.iconTitle {
  margin-bottom: 10px;
}

.iconBorder {
  float: left;
  width: 300px;
}
